@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,500,700&display=swap");
@import "./base/mixins";
@import "./base/fonts";
@import "./base/colors";
@import "./base/variables";
@import "./base/utilities";
@import "./base/form";
@import "./base/alignment";
@import "./base/override-aem";
@import "./base/spinner";
@import "./base/buttongroup";
@import "./base/tablelist";
@import "./commons/_variables";
@import "./commons/_grid";
@import "./commons/_typo";
@import "./commons/buttons";
@import "./components/_hero";
@import "./components/_custom-menu-page";
@import "./components/_corona-text";
@import "./components/_line-divider";
@import "./components/_servicios-corona";
@import "./components/_sintomas-text";
@import "./components/_contacto-corona";
@import "./components/_prevenir-corona";
@import "./components/_corona-dropdown";
@import "./components/_preguntas-corona";
@import "./components/_header-cards-corona";
@import "./components/_corona-micuenta";

.rimac-header-public {
  height: 56px;
  width: 100%;
  background-color: $red;
  top: 0;
  z-index: 99;

  @include media(desktopmini) {
    height: 64px;
  }
}
