.custom-menu-page {
  border-bottom: 1px solid #e4e8f7;
  @include media(mobile) {
    max-width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include media(tablet) {
    overflow-x: scroll;
    max-width: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .container {
    position: relative;
    @include media(mobile) {
      padding: 0;
    }
    @include media(desktopmini) {
      max-width: 100%;
      width: 100%;
    }
  }
  .bar {
    width: 164px;
    height: 2px;
    background: $red;
    display: block;
    position: absolute;
    bottom: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    @media only screen and (max-width: 1023px) {
      display: none;
    }
    @include media(tablet) {
      width: 194px;
    }
    @include media(desktopmini) {
      width: 194px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      max-width: 100%;
      padding: 0;
      margin-left: col(4, 37);
    }
  }
  &__options {
    height: 92px;
    @include media(mobile) {
      display: flex;
      flex-flow: wrap;
    }
    @media only screen and (max-width: 1024px) {
      // margin-left: col(4, 37);

      width: 850px;
    }
    @include media(tablet) {
      display: flex;
      font-family: wrap;
      overflow-x: scroll;
    }
    @include media(desktopmini) {
      max-width: 888px;
      margin: 0 auto;
      overflow-x: auto;
    }
    @include media(desktop) {
      max-width: 1184px;
      margin: 0 auto;
      padding-left: 64px;
    }
    button {
      -webkit-appearance: none;
      appearance: none;
      border: 0px;
      font-size: 20px;
      line-height: 28px;
      color: $gray;
      display: inline;
      margin-right: 36px;
      border: 0px;
      height: 100%;
      outline: 0px;
      background: transparent;
      font-weight: 300;
      font-family: $lato;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      @include media(desktop) {
        margin-right: 48px;
      }
      cursor: pointer;
      &:last-child {
        margin-right: 0px;
      }

      &.active {
        position: relative;
        color: $red;
        font-weight: 400;
        &::before {
          width: 100%;
        }

        &:hover {
          font-weight: 400;
        }

        @media only screen and (max-width: 960px) {
          border-bottom: 2px solid $red;
        }
      }
      &:hover {
        &.active {
          position: initial;
        }
        position: relative;
        &::before {
          width: 100%;
        }
        color: $red;
        font-weight: 300;
      }
    }
  }
}
