.hero-rimac-gray {
  background-color: $gray7;
  &__text {
    margin-top: 56px;
    .title-02 {
      i {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #494f66;
        font-weight: 400;
        font-style: normal;
      }
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      color: $gray;
    }
    @include media(tablet) {
      .title-02 {
        font-weight: 300;
        i {
          font-size: 36px;
          line-height: 48px;
          letter-spacing: -0.2px;
          color: #494f66;
          font-weight: 400;
          font-style: normal;
        }
      }
      p {
        font-size: 18px;
        line-height: 32px;
      }
    }

    @include media(tablet) {
      margin-top: 64px;
    }
    @include media(desktopmini) {
      width: col(21, 37);
      height: 328px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin: 0px;
    }
    @include media(desktop) {
      margin-left: col(2, 37);
      width: col(16, 37);
    }
  }
  &__image {
    margin-top: 24px;
    @include media(tablet) {
      margin-top: 8px;
    }
    @include media(desktopmini) {
      width: col(15, 37);
      height: 328px;
      display: flex;
      align-items: flex-end;
      margin-top: 0px;
    }
    @include media(desktop) {
      width: col(16, 37);
      margin-right: col(2, 37);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .container {
    display: flex;
    flex-flow: wrap;
    -ms-flex-flow: wrap;
    display: -ms-flexbox;
    width: 100%;
    padding: 0;
  }
  .Image {
    &desktop {
      display: none;

      @include media(desktop) {
        display: block;
      }
    }
    &desktopmini {
      display: none;
      @include media(desktopmini) {
        display: block;
      }
      @include media(desktop) {
        display: none;
      }
    }
    &tablet {
      display: none;
      @include media(tablet) {
        display: block;
      }
      @include media(desktopmini) {
        display: none;
      }
    }
    &mobile {
      @include media(tablet) {
        display: none;
      }
    }
  }
}
