.servicios-corona {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  width: 84%;
  @include media(tablet) {
    max-width: 592px;
    width: 100%;
  }
  @include media(desktopmini) {
    max-width: 792px;
  }
  @include media(desktop) {
    max-width: 800px;
  }
  .showmob {
    display: block;
    @include media(tablet) {
      display: none;
    }
  }
  .showtabletonup {
    display: none;
    @include media(tablet) {
      display: block;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: $gray;
    font-family: $lato;
    font-weight: 400;
    margin-bottom: 24px;
    font-weight: 300;
    b {
      font-weight: 400;
    }
    @include media(tablet) {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 48px;
    }
  }
  &__title {
    h2 {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.2px;
      color: $gray;
      font-weight: 300;
      b {
        font-weight: 400;
      }
      @include media(tablet) {
        font-size: 36px;
        line-height: 48px;
      }
    }
  }

  &__items {
    display: flex;
    flex-flow: wrap;

    @include media(desktopmini) {
      text-align: left;
    }
    &__hide {
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &.active {
        max-height: 100rem;
      }
    }
  }
  &__item {
    width: 100%;
    cursor: pointer;
    border: 3px solid #f0f2fa;
    border-radius: 12px;
    padding: 21px 29px;
    margin-bottom: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 8px 30px rgba(20, 43, 127, 0.1), 0px 1px 4px rgba(163, 171, 204, 0.06);
    }
    @media only screen and (max-width: 768px) {
      display: flex;
      align-items: center;

      span {
        display: none;
      }
      img {
        margin-right: 24px;
        margin-bottom: 0px !important;
      }
      .servicios-corona__item__text {
        p {
          margin-bottom: 0px;
        }
        span {
          display: inline-block !important;
          position: initial !important;
          margin-bottom: 8px;
        }
      }
      .link {
        position: relative;
        &::after {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.93988 2.42905C4.1867 2.19032 4.58253 2.19032 4.82935 2.42905L8.06012 5.55405C8.31329 5.79894 8.31329 6.20106 8.06012 6.44595L4.82935 9.57095C4.58253 9.80968 4.1867 9.80968 3.93988 9.57095C3.68671 9.32606 3.68671 8.92394 3.93988 8.67905L6.70961 6L3.93988 3.32095C3.68671 3.07606 3.68671 2.67394 3.93988 2.42905Z' fill='%236F7DFF'/%3E%3C/svg%3E");
          width: 12px;
          height: 12px;
          display: block;
          margin-right: 4px;
          position: absolute;
          position: absolute;
          right: -18px;
          top: 1px;
        }
      }
    }
    @media only screen and (max-width: 480px) {
      align-items: flex-start;
      .servicios-corona__item__text {
        margin-right: 0px;
        min-width: auto;
      }
    }

    p {
      color: $gray;
      font-weight: 400;
      font-family: $lato;
      line-height: 24px;
      font-size: 16px;
    }
    .link {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.6px;
      font-family: $lato;
      color: $acian2;
      font-weight: 400;
    }
    @include media(desktopmini) {
      width: col(9, 33);
      margin-right: col(3, 33);
      padding: 29px 27px;
      margin-bottom: 32px;
      letter-spacing: 0.2px;
      height: 216px;
    }
    @include media(desktop) {
      height: 224px;
      width: col(7, 25);
      margin-right: col(2, 25);
      padding: 37px 29px;
    }
    img {
      margin-bottom: 8px;
      width: 54px;
      height: auto;
    }
    p {
      margin-bottom: 16px;
    }
    &:nth-child(3n) {
      margin-right: 0px;
    }

    &.new {
      position: relative;
      span {
        background-color: $green;
        color: white;
        padding: 2px 8px;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.8px;
        font-family: $lato;
        border-radius: 20px;
        position: absolute;
        right: 16px;
        top: 16px;
      }
    }
    &__cont {
      @include media(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 84%;
      }
      @include media(desktopmini) {
        width: auto;
        display: block;
      }
    }
  }
  &__btn {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: $acian2;
    border: 0px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 64px;
    p {
      font-weight: 400;
      font-family: $lato;
      &.hide {
        display: none;
      }
    }
    span {
      width: 24px;
      height: 24px;
      border: 1px solid rgba(111, 125, 255, 0.4);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 8px;
      &:hover {
        background: $acian2;
        path {
          fill: white;
        }
      }
    }
    &.active {
      p {
        display: none;
        font-family: $lato;
        &.hide {
          display: block;
        }
      }
      span {
        background-color: $acian2;
        svg {
          transform: rotate(180deg);
        }
        path {
          fill: white;
        }
      }
    }
  }
}
