@import 'colors';
@import 'mixins';

//fonts

//Iconos
$Rimac-Icons: 'Lato-Bold';
//Títulos
$Titulo-Light: 'lato-Light', sans-serif;
$Titulo-Regular: 'lato-Regular', sans-serif;
$Titulo-Bold: 'lato-Bold', sans-serif;
//Párrafos
$Parrafo:'OpenSans',sans-serif;


//Iconos Set


// FONTS PATH
$fonts-path: '../fonts';


