//Reds
$red: #EF3340;
$red2: #FC4E55; 
$red3: #FC606B;
$red4: #FFD7DA;
$red5: #FEE7E9;
$red6: #FFE6C2;
$red7: #ff0000;

//Grays
$gray: #494F66;
$gray2: #676F8F;
$gray3: #A3ABCC;
$gray4: #C5CBE0;
$gray5: #E4E8F7;
$gray6: #F0F2FA;
$gray7: #F7F8FC;
$gray8: #EDEFF5;
$gray9: #a9b1d1;
$gray10: #d4d5e8;
$gray11: #f7f7fa;

//Acian
$acian: #939DFF;
$acian2: #6F7DFF;

//Green
$green: #83CC5E;
$green2: #CFEDC0;
$green3: #E9F7E2;
$green4: #92d66f;

//Orange
$orange: #FFA733;
$orange2: #FFDCA9;
$orange3: #FFEFD8;

//Fonts
$lato:"Lato",Arial,sans-serif;
$roboto: "Roboto", sans-serif;

//Color Modal
$overlay:rgba(73, 80, 102, 0.8);

// Mobile Breakpoints
$mobile-screen: 280px;
$small-screen:  425px;
$medium-screen: 1023px;

// Color slider
$slider:  #A9B1D1;




